<ion-content *ngIf="isLoaded; else isLoading" class="main">
  <div class="main-container">
    <div class="jumbotron">
      <app-cards></app-cards>
    </div>

    <ng-container
      *ngIf="highchCharts$ | async as data"
      class="section-highcharts"
    >
      <app-highcharts [data]="data"></app-highcharts>
    </ng-container>

    <ng-container *ngIf="registersData | async as data">
      <app-extract [data]="data"></app-extract>
    </ng-container>
  </div>
</ion-content>
<ng-template #isLoading>
  <div class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ng-template>
