@import "../../../../theme/mixins.scss";
.main {
  @include size-page;
}
.jumbotron {
  background-color: var(--green-microsoft);
}
.spinner {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
