@import "../../../../theme/mixins.scss";
.main {
  @include size-page;
  .main-container {
    @include container-padding;
    position: relative;
    .banner {
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, var(--green-microsoft) 60%, var(--white-one) 100%);
      height: 350px;
      width: 100%;
      z-index: -1;
    }
  }
}
.jumbotron {
  background-color: var(--green-microsoft);
}
.spinner {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
