<section class="main">
  <ion-content *ngIf="isLoaded; else isLoading">
    <div class="main-container">
      <div class="jumbotron">
        <app-cards></app-cards>
      </div>

      <ng-container *ngIf="highchCharts$ | async as data" class="section-highcharts">
        <app-highcharts [data]="data"></app-highcharts>
      </ng-container>

      <ng-container *ngIf="emptyService.dataExtract$.value; else showExtractEmpty">
        <app-extract [data]="emptyService.dataExtract$.value"></app-extract>
      </ng-container>
      
      <ng-template #showExtractEmpty>
        <app-extract-empty [isData]="emptyService.dataExtract$.value == null" [isLoading]="emptyService.loadingExtract$.value"></app-extract-empty>
      </ng-template>
    </div>
  </ion-content>
</section>

<ng-template #isLoading>
  <div class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ng-template>
