@import '../../../../theme/mixins.scss';

.new-password {
  width: 100%;
  height: 100%;
  position: relative;
  .container-new-password {
    height: 100%;
    padding: 16px;
  }
  .container-new-password p.title {
    @include display-2;
  }
  .container-new-password,
  .container-form,
  .container-buttons,
  .form-inline,
  .container-forget,
  .checkbox,
  .form {
    width: inherit;
  }
  .form-inline,
  .container-buttons,
  .container-forget,
  .checkbox {
    max-width: 384px;
  }
  .container-form,
  .container-new-password {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-buttons,
  .container-forget {
    justify-content: space-between;
    display: flex;
  }
  .container-forget p {
    flex: 1;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  .container-buttons {
    @include container-buttons;
    margin-top: 8px;
    margin-bottom: 8px;
    .btn {
      @include btn;
    }
    .btn.close {
      background: var(--ion-color-danger);
      color: white;
    }
    .btn.income {
      background: var(--green-microsoft);
      color: white;
    }
    .btn:disabled {
      opacity: 0.5;
    }
  }
  .checkbox,
  .container-buttons {
    text-align: left;
    margin: 16px 0;
  }
}