
<section class="new-password">
  <div class="container-new-password">
    <p class="title">Nova senha</p>
    <form [formGroup]="formNewPassword" class="container-form" (ngSubmit)="onSubmit($event)">
      <div class="form-inline">
        <mat-form-field class="form" floatLabel="always" appearance="outline">
          <mat-label>Senha</mat-label>
          <input formControlName="password" [type]="textIcon" matInput placeholder="Senha" required>
          <mat-icon style="cursor: pointer;" (click)="changeVisibility(textIcon)" matSuffix>{{changeIcon}}</mat-icon>
          <mat-error *ngIf="formNewPassword.get('password')?.hasError('required')">
            Senha é obrigatória
          </mat-error>
          <mat-error *ngIf="formNewPassword.get('password')?.hasError('minlength')">
            Mínimo de 6 caracteres
          </mat-error>
          <mat-error *ngIf="formNewPassword.get('password')?.hasError('maxlength')">
            Máximo de 24 caracteres
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-inline">
        <mat-form-field class="form" floatLabel="always" appearance="outline">
          <mat-label>Confirmar Senha</mat-label>
          <input formControlName="confirm_password" [type]="textIcon" matInput placeholder="Confirmar senha" required>
          <mat-icon style="cursor: pointer;" (click)="changeVisibility(textIcon)" matSuffix>{{changeIcon}}</mat-icon>
          <mat-error *ngIf="formNewPassword.get('confirm_password')?.hasError('required')">
            Confirmar é obrigatório
          </mat-error>
          <mat-error *ngIf="formNewPassword.get('confirm_password')?.hasError('minlength')">
            Mínimo de 6 caracteres
          </mat-error>
          <mat-error *ngIf="formNewPassword.get('confirm_password')?.hasError('maxlength')">
            Máximo de 24 caracteres
          </mat-error>
          <mat-error *ngIf="!isPasswordSame">
            Senhas não são iguais
          </mat-error>
        </mat-form-field>
      </div>

      <ion-buttons class="container-forget">
        <ion-button size="small" routerLink="/login/reset" class="no-account">
          <small>Esqueci a senha</small>
        </ion-button>

        <ion-button size="small" routerLink="/login" class="no-account">
          <small>Já tenho conta</small>
        </ion-button>
      </ion-buttons>

      <div class="container-buttons">
        <button [disabled]="isLoading" routerLink="/home" class="btn close" type="button" mat-raised-button>Voltar</button>
        <button [disabled]="!formNewPassword.valid || isLoading" class="btn income" type="submit" mat-raised-button>
          <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
          <span *ngIf="!isLoading">Confirmar</span>
        </button>
      </div>
    </form>
  </div>
</section>