@import "../../../theme/mixins.scss";

.extract {
  background-color: var(--white-one);
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 768px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .title {
    @include timeline-dates;
    text-align: left;
    padding-left: 16px;
  }
  .extract-container {
    .label-date {
      padding-left: 16px;
    }
    .extract-timeline {
      padding-left: 16px;
      .extract-timeline-area {
        margin: 45px auto;
        width: 100%;
        max-width: 768px;
        border-left: 1px solid rgba(0, 0, 0, 0.08);
        padding-left: 11px;
      }
      .extract-timeline-icon {
        max-width: 32px;
        max-height: 32px;
        .color-icons-outcoming ::ng-deep svg {
          fill: var(--danger);
        }
        .color-icons-incoming ::ng-deep svg {
          fill: var(--green-microsoft);
        }
        .color-icons-pending ::ng-deep svg {
          fill: var(--text-middle-orange);
        }
      }
      .extract-timeline-body {
        width: 100%;
      }
      .extract-timeline-dates {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include timeline-dates;
        .badge-values {
          font-size: 0.7em;
          padding: 4px 12px;
          border-radius: 32px;
          background-color: var(--white-two);
          font-weight: 500;
          position: relative;
          margin-top: 8px;
        }
        .badge-values::before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-color: transparent transparent var(--white-two) transparent;
          border-width: 8px;
          position: absolute;
          top: -15px;
          transform: translateX(-50%);
          left: 50%;
        }
      }
      .extract-timeline-values {
        text-align: left;
      }
      .container-card {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        .hours {
          margin-right: 8px;
          margin-left: 8px;
        }
        .btn-menu {
          mat-icon {
            font-size: 24px;
          }
        }
        .extract-timeline-card {
          padding: 0px;
          background-color: inherit;
          font-size: 14px;
          line-height: 1.7;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          position: relative;
          font-weight: 200;
          p {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            line-height: 14px;
          }
        }
        .extract-timeline-icon {
          position: absolute;
          top: 50%;
          left: -27px;
          border: 3px solid var(--white-one);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translateY(-50%);
          background-color: var(--white-one);
        }
      }
    }
  }
  .title,
  .extract-container,
  .extract-container .extract-timeline,
  .extract-container .extract-timeline-area,
  .extract-container .extract-timeline-body,
  .extract-container .extract-timeline-card,
  .extract-container .extract-timeline-values,
  .extract-container .extract-timeline-icon {
    background-color: inherit;
  }
}
.spinner {
  @include spinner;
}
.title {
  @include display-1;
  text-align: center;
}
.loading-waves {
  width: 100%;
  height: 100%;
  min-height: 25px;
  background: rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative;
}
.loading-waves::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(15px);
  animation: waves 1s linear infinite;
  position: absolute;
  top: 0;
}
.title-waves,
.label-waves {
  height: 15px;
}
.title-waves {
  width: 72px;
}
.label-waves {
  width: 50px;
}
.hours-waves {
  width: 50%;
}
.icon-waves {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

@keyframes waves {
  to {
    transform: translateX(100%);
  }
}