<section class="signup">
  <div class="container-signup">
    <form [formGroup]="signup" (ngSubmit)="onSubmit($event)" class="form">
      <h2 class="title">Cadastro</h2>
      <div class="container">
        <div class="form-field">
          <div class="form-group">
            <ion-input
              required
              ngDefaultControl
              formControlName="email"
              inputmode="email"
              placeholder="E-mail"
              type="email"
            ></ion-input>
            <ion-icon slot="end" name="mail"></ion-icon>
          </div>
          <ion-text
            *ngIf="
              signup.get('email')?.hasError('required') &&
              signup.get('email').dirty
            "
            class="hint-error"
            color="danger"
          >
            Campo e-mail é obrigatório.
          </ion-text>
          <ion-text
            *ngIf="signup.get('email')?.hasError('email')"
            class="hint-error"
            color="danger"
          >
            Não é um e-mail válido.
          </ion-text>
        </div>

        <div class="form-field">
          <div class="form-group">
            <ion-input
              required
              ngDefaultControl
              formControlName="password"
              placeholder="Senha"
              inputmode="text"
              [type]="changeTexts ? 'password' : 'text'"
            ></ion-input>
            <ion-icon
              [name]="changeTexts ? 'eye-off' : 'eye'"
              slot="end"
              (click)="changeTexts = !changeTexts"
            ></ion-icon>
          </div>
          <ion-text
            *ngIf="
              signup.get('password')?.hasError('required') &&
              signup.get('password').dirty
            "
            class="hint-error"
            color="danger"
          >
            Campo senha é obrigatório
          </ion-text>

          <ion-text
            class="hint-error"
            color="danger"
            *ngIf="signup.get('password')?.hasError('minlength')"
          >
            Mínimo de 6 caracteres
          </ion-text>
          <ion-text
            class="hint-error"
            color="danger"
            *ngIf="signup.get('password')?.hasError('maxlength')"
          >
            Máximo de 24 caracteres
          </ion-text>
        </div>

        <div class="form-field">
          <div class="form-group">
            <ion-input
              required
              ngDefaultControl
              formControlName="confirmPassword"
              placeholder="Confirmar senha"
              inputmode="text"
              [type]="changeTexts ? 'password' : 'text'"
            ></ion-input>
            <ion-icon
              [name]="changeTexts ? 'eye-off' : 'eye'"
              slot="end"
              (click)="changeTexts = !changeTexts"
            ></ion-icon>
          </div>
          <ion-text
            *ngIf="
              signup.get('confirmPassword')?.hasError('required') &&
              signup.get('confirmPassword').dirty
            "
            class="hint-error"
            color="danger"
          >
            Campo senha é obrigatório
          </ion-text>

          <ion-text
            class="hint-error"
            color="danger"
            *ngIf="signup.get('confirmPassword')?.hasError('minlength')"
          >
            Mínimo de 6 caracteres
          </ion-text>
          <ion-text
            class="hint-error"
            color="danger"
            *ngIf="signup.get('confirmPassword')?.hasError('maxlength')"
          >
            Máximo de 24 caracteres
          </ion-text>

          <ion-text class="hint-error" color="danger" *ngIf="!isPasswordSame">
            Senhas não são iguais
          </ion-text>
        </div>

        <span>
          <ion-text
            class="hint-error"
            color="danger"
            *ngIf="errors$ | async as states"
            >{{ states.error?.message }}</ion-text
          >
        </span>

        <ion-buttons class="container-forget">
          <ion-button size="small" routerLink="/login/reset" class="no-account">
            <small>Esqueci a senha</small>
          </ion-button>

          <ion-button size="small" routerLink="/login" class="no-account">
            <small>Já tenho conta</small>
          </ion-button>
        </ion-buttons>

        <ion-item class="container-checkbox">
          <ion-checkbox
            (ionChange)="checkboxChange($event)"
            ngDefaultControl
            formControlName="keepConnect"
            color="success"
          ></ion-checkbox>
          &nbsp;&nbsp;
          <ion-label>Manter conectado.</ion-label>
        </ion-item>

        <ion-buttons class="container-buttons">
          <ion-button class="btn close" routerLink="/home" type="button"
            >Voltar</ion-button
          >
          <ion-button
            (keyup.enter)="onSubmit($event)"
            [disabled]="!signup.valid || isLoading"
            class="btn income"
            type="submit"
            >Entrar</ion-button
          >
        </ion-buttons>
      </div>
    </form>
  </div>
</section>
