<form class="form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="container">
    <div class="form-field">
      <div class="form-group">
        <input
          min="0.01"
          required
          class="input-value"
          ngDefaultControl
          placeholder="Valor"
          formControlName="value"
          currencyMask
        />
        <ion-icon name="card-outline"></ion-icon>
      </div>
    </div>

    <div class="form-field">
      <div class="form-group">
        <ion-datetime
          required
          style="width: 100%"
          formControlName="date"
          placeholder="Data"
          [min]="settings.minYear"
          [max]="settings.maxYear"
          [monthShortNames]="settings.months"
        ></ion-datetime>
        <ion-icon name="calendar"></ion-icon>
      </div>
      <div class="form-group">
        <ion-select
          style="width: 100%"
          formControlName="category"
          placeholder="Categoria"
          cancelText="Cancelar"
        >
          <ng-container *ngIf="categories$ | async as cats">
            <ion-select-option *ngFor="let cat of cats" [value]="cat">{{
              cat
            }}</ion-select-option>
          </ng-container>
        </ion-select>
        <ion-icon name="apps-outline"></ion-icon>
      </div>
    </div>

    <div class="form-field">
      <div class="form-group">
        <ion-textarea
          name="description"
          formControlName="description"
          placeholder="Descrição"
        ></ion-textarea>
      </div>
    </div>
    <ion-buttons class="container-buttons">
      <ion-button (click)="close(false)" class="btn close" type="button"
        >Fechar</ion-button
      >
      <ion-button [disabled]="!form.valid" class="btn income" type="submit"
        >Registrar</ion-button
      >
    </ion-buttons>
  </div>
</form>
