<form class="form">
  <div class="container">
    <div class="form-field">
      <div class="form-group">
        <ion-input placeholder="Valor"></ion-input>
        <ion-icon name="card-outline"></ion-icon>
      </div>
    </div>

    <div class="form-field">
      <div class="form-group">
        <ion-datetime
          placeholder="Data"
          [min]="settings.minYear"
          [max]="settings.maxYear"
          [monthShortNames]="settings.months"
        ></ion-datetime>
        <ion-icon name="calendar"></ion-icon>
      </div>
      <div class="form-group">
        <ion-select placeholder="Categoria" cancelText="Cancelar">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
        <ion-icon name="apps-outline"></ion-icon>
      </div>
    </div>

    <div class="form-field">
      <div class="form-group">
        <ion-textarea placeholder="Descrição"></ion-textarea>
      </div>
    </div>
    <ion-buttons class="container-buttons">
      <ion-button class="btn close" type="button">Fechar</ion-button>
      <ion-button class="btn income" type="submit">Registrar</ion-button>
    </ion-buttons>
  </div>
</form>
