<form class="form">
  <div class="container">
    <div class="form-field">
      <div class="form-group">
        <ion-label>Valor</ion-label>
        <ion-input></ion-input>
      </div>
    </div>

    <div class="form-field">
      <div class="form-group">
        <ion-label>Data</ion-label>
        <ion-input></ion-input>
      </div>
      <div class="form-group">
        <ion-label>Categoria</ion-label>
        <ion-input></ion-input>
      </div>
    </div>

    <div class="form-field">
      <div class="form-group">
        <ion-label>Descrição</ion-label>
        <ion-textarea></ion-textarea>
      </div>
    </div>
    <ion-buttons class="container-buttons">
      <ion-button class="btn close" type="button">Fechar</ion-button>
      <ion-button class="btn income" type="submit">Registrar</ion-button>
    </ion-buttons>
  </div>
</form>
