<div [ngSwitch]="type">
  <div *ngSwitchCase="'add-registers'" class="add-registers">
    <ion-button color="dark" (click)="add('income')" fill="clear">
      <ion-icon color="success" slot="start" name="add"></ion-icon>
      <span>Receita</span>
    </ion-button>
    <ion-button color="dark" (click)="add('outcome')" fill="clear">
      <ion-icon color="danger" name="remove-outline"></ion-icon>
      <span>Despesas</span>
    </ion-button>
  </div>
  <div *ngSwitchCase="'profile'" class="profile">
    <ng-container *ngIf="profile$ | async as profile">
      <div class="profile-icon">
        <ion-icon slot="only-icon" name="person"></ion-icon>
      </div>
      <p>{{ profile.name }}</p>
      <p>{{ profile.email }}</p>
      <p>{{ profile.tel }}</p>
    </ng-container>
  </div>
</div>
