<div [ngSwitch]="type">
  <div *ngSwitchCase="'add-registers'" class="add-registers">
    <ion-button (click)="add('income')" expand="full" fill="clear">
      <ion-icon slot="start" name="add"></ion-icon>
      Receita
    </ion-button>
    <ion-button
      (click)="add('outcome')"
      expand="full"
      fill="clear"
      color="danger"
    >
      <ion-icon name="add"></ion-icon>
      Despesas
    </ion-button>
  </div>
  <div *ngSwitchCase="'profile'" class="profile">
    <h1>Perfil</h1>
  </div>
</div>
