<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon slot="start" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [ngSwitch]="data.type" class="content">
  <app-login *ngSwitchCase="'login'" (sendClose)="onClose($event)"></app-login>
  <app-add-registers
    [type]="data.operation"
    [edit]="data.edit"
    [profile]="data.profile | async"
    [extract]="data.extract"
    *ngSwitchCase="'add-registers'"
    (sendPayload)="isClose($event)"
  ></app-add-registers>
</ion-content>
