<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon slot="start" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [ngSwitch]="type" class="content">
  <app-login *ngSwitchCase="'login'" (sendClose)="onClose($event)"></app-login>
  <ion-title *ngSwitchCase="'registers'">Cadastro</ion-title>
  <app-add-registers [type]="type" *ngSwitchCase="'income'"></app-add-registers>
  <app-add-registers
    [type]="type"
    *ngSwitchCase="'outcome'"
  ></app-add-registers>
</ion-content>
