@import "../../../../../theme/mixins.scss";

.settings-profile {
  @include size-page;
  .container-profile {
    @include container-padding;
    .profile {
      p {
        margin: 16px 0;
      }
      .form-profile {
        .container-forms {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .form-inline {
            flex: 1;
            min-width: 255px;
            padding-right: 8px;
            .form {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
