@import "../../../../theme/mixins.scss";

.page-settings {
  @include size-page;
  .menu-list {
    .menu-item {
      button {
        width: 100%;
        color: var(--green-microsoft);
        text-align: left;
      }
    }
  }
}
