<div class="highcharts">
  <form class="dates" (ngSubmit)="onSubmit()">
    <div class="form-inline">
      <mat-form-field
        (click)="$event.preventDefault(); pickerStart.open()"
        class="form"
      >
        <mat-label>Data Início</mat-label>
        <input
          [min]="minDate"
          [readonly]="enableButtonFilter"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="dtStart"
          [matDatepickerFilter]="filterStart"
          [matDatepicker]="pickerStart"
          matInput
          autocomplete="off"
          [disabled]="enableButtonFilter"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerStart"
        ></mat-datepicker-toggle>
        <mat-datepicker [touchUi]="isMobile" #pickerStart> </mat-datepicker>
      </mat-form-field>

      <mat-form-field
        (click)="$event.preventDefault(); pickerEnd.open()"
        class="form"
      >
        <mat-label>Data Fim</mat-label>
        <input
          [min]="minDate"
          [readonly]="enableButtonFilter"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="dtEnd"
          [matDatepickerFilter]="filterEnd"
          [matDatepicker]="pickerEnd"
          [disabled]="enableButtonFilter"
          matInput
          autocomplete="off"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerEnd"
        ></mat-datepicker-toggle>
        <mat-datepicker [touchUi]="isMobile" #pickerEnd> </mat-datepicker>
      </mat-form-field>
    </div>

    <div matTooltip="Filtrar" class="buttons">
      <button
        [disabled]="btnLoadingSpinner || enableButtonFilter"
        class="btn-filter"
        disableRipple="true"
        type="submit"
        mat-raised-button
      >
        <span *ngIf="btnLoadingSpinner; else showLabelFilter">
          <mat-spinner class="btn-spinner" diameter="20"></mat-spinner>
        </span>
        <ng-template #showLabelFilter>Filtrar</ng-template>
      </button>
    </div>
  </form>
  <div #highchart></div>
</div>
