@import "../../../theme/mixins.scss";

.home,
.toolbar,
.content {
  background: transparent;
  --background: transparent;
}
.toolbar,
.content {
  @include page-padding;
}
.home {
  @include container;
  height: 100%;
  position: relative;
  .background {
    background: url("../../../assets/backgroun-home-5.svg"),
      rgba(33, 33, 33, 0.05);
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .toolbar {
    padding: 0;
  }
  .content .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .container-buttons {
    @include container-buttons;
  }
  .btn {
    @include btn;
  }
  .logo {
    @include logo;
  }
  .display-1 {
    @include display-1;
    font-weight: 600;
    font-size: 2.5em;
    color: var(--green-microsoft);
  }
  .display-2 {
    @include display-2;
    font-weight: 600;

  }
  .description {
    @include description;
  }
  .dash,
  .login {
    --background: var(--green-microsoft);
    --color: var(--color-white);
  }
}
