<section class="home">
  <div class="background"></div>
  <ion-toolbar class="toolbar">
    <ion-img class="logo" [src]="logo"></ion-img>
    <ion-buttons slot="end">
      <ion-button routerLink="/login/signup" class="btn outline" size="small"
        >Cadastro</ion-button
      >
      <ion-button routerLink="/login" class="btn login" size="small"
        >Login</ion-button
      >
    </ion-buttons>
  </ion-toolbar>

  <ion-content [fullscreen]="false" class="content">
    <div class="container">
      <div class="title">
        <h1 class="display-1">Organize-se!</h1>
        <h2 class="display-2">Mantenha seus gastos sob controle</h2>
        <p class="description">
          Controle suas despesas com facilidade e saiba para onde esta indo seu
          dinheiro.
        </p>
      </div>
    </div>
  </ion-content>
</section>
