@import "../../../theme/mixins.scss";

.home,
.toolbar,
.content {
  background: transparent;
  --background: transparent;
}
.toolbar,
.content {
  --padding-end: 16px;
  --padding-start: 16px;
}
.home {
  height: 100%;
  position: relative;
  .background {
    background: url("../../../assets/backgroun-home-5.svg");
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .content .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .btn {
    @include btn;
  }
  // .outline {
  //   outline: 1px solid rgba(0, 0, 0, 0.09);
  // }
  .logo {
    @include logo;
  }
  .display-1 {
    @include display-1;
    font-weight: 600;
  }
  .display-2 {
    @include display-2;
  }
  .description {
    @include description;
  }
  .dash {
    --background: var(--teal);
    --color: var(--color-white);
  }
}
