<div class="extract" *ngIf="data">
  <h2 class="title">Extrato</h2>
  <div class="extract-container">
    <div *ngFor="let listGrouped of listGroupByDay" class="extract-timeline">
      <div class="extract-timeline-dates">
        <span>{{ listGrouped.day | date: "fullDate" }}</span>
        <small class="badge-values"
          >R$
          {{
            formatterValue(listGrouped.total_credits - listGrouped.total_debits)
          }}</small
        >
      </div>
      <div class="extract-timeline-area">
        <div *ngFor="let extract of listGrouped.list" class="container-card">
          <div class="hours">
            <small>{{ extract.created_at * 1000 | date: "shortTime" }}hs</small>
          </div>
          <button
            mat-icon-button
            disableRipple="true"
            class="extract-timeline-icon"
          >
            <mat-icon [svgIcon]="extract.cat_icon"></mat-icon>
          </button>
          <div class="extract-timeline-card">
            <p>
              <span>{{ extract.category }}</span>
              <small>{{ extract.description }}</small>
            </p>
            <span
              >{{ extract.type === "outcoming" ? "-" : "" }} R$
              {{ formatterValue(extract.value) }}</span
            >
          </div>
          <button
            class="btn-menu"
            disableRipple="true"
            (click)="$event.stopPropagation()"
            title="Menu"
            mat-icon-button
            [matMenuTriggerFor]="menu"
          >
            <mat-icon svgIcon="more_vert"></mat-icon>
          </button>
          <mat-menu #menu="matMenu" overlapTrigger="true">
            <button (click)="edit(extract)" disableRipple="true" mat-menu-item>
              <mat-icon svgIcon="edit"></mat-icon>
              <span>EDITAR</span>
            </button>

            <button
              (click)="remove(extract)"
              disableRipple="true"
              mat-menu-item
            >
              <mat-icon
                svgIcon="delete_outline"
                class="icon-mat-menu"
              ></mat-icon>
              <span>DELETAR</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
