.page-extract {
  .page-extract-badge {
    margin: 16px;
    .container-chips {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  ::ng-deep .owl-item.active {
    max-width: 80px !important;
  }
  ::ng-deep .mat-chip.mat-standard-chip.mat-chip-selected {
    background-color: var(--green-microsoft);
  }
}
