<section class="page-extract">
  <ion-content>
    <div class="extact container">
      <div class="page-extract-badge">
        <mat-chip-list class="container-chips">
          <mat-chip
            [selected]="chip.selected"
            (click)="onChipChange(chip, index)"
            class="chip"
            *ngFor="let chip of chips; let index = index"
            >{{ chip.label }}</mat-chip
          >
        </mat-chip-list>
      </div>
      <ng-container *ngIf="registers$ | async as data">
        <app-extract [data]="data"></app-extract>
      </ng-container>
    </div>
  </ion-content>
</section>
