@import "../../../../theme/mixins.scss";

.login,
.container,
.container .form-group,
.container .container-forget {
  display: flex;
}
.login,
.login .container-login {
  width: 100%;
}
.login {
  @include page-padding;
  height: 100%;
  justify-content: center;
  align-items: center;
  .container-login {
    max-width: 384px;
    .title {
      @include display-2;
      text-align: center;
    }
    .container {
      flex-direction: column;
      justify-content: center;
      .hint-error {
        font-size: 0.8em;
      }
      .container-buttons {
        @include container-buttons;
        margin-top: 8px;
        margin-bottom: 8px;
        .btn {
          @include btn;
        }
        .btn.close {
          --background: var(--ion-color-danger);
          color: white;
        }
        .btn.income {
          --background: var(--teal);
          color: white;
        }
      }
      .form-group {
        border: 1px solid var(--text-light);
        border-radius: 8px;
        align-items: center;
        padding: 4px 16px;
        margin: 8px 0;
      }
      .container-checkbox {
        --border-style: none;
        --padding-end: 0;
        --padding-start: 0;
        --ripple-color: transparent;
      }
      .container-forget {
        justify-content: space-between;
      }
    }
    .form {
      width: 100%;
    }
  }
}
