.card {
  --width: 200px;
  --background: transparent;
  box-shadow: none;
  border: none;
  .value {
    font-weight: bold;
    color: var(--white-one);
  }
  .percent {
    margin-left: 5px;
    font-size: 0.6em;
    font-weight: 400;
    color: var(--white-one);
  }
  .card-content,
  .card-header {
    padding: 0;
  }
  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .percent.hide {
    width: 48px;
  }
  .value.hide {
    width: 50%;
  }
  .percent.hide,
  .value.hide {
    height: 16px;
    background: rgba(255, 255, 255, 0.25);
    display: inline-block;
    filter: blur(2px);
  }
  .incoming {
    color: green;
  }
  .outcoming {
    color: red;
  }
}
