<ion-menu
  side="start"
  type="overlay"
  menuId="main"
  contentId="main"
  class="menu"
>
  <div class="menu-item-close">
    <ion-button
      (click)="closeMenu()"
      fill="clear"
      size="small"
      color="light"
      shape="round"
    >
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>
  <ion-content class="menu-content">
    <div class="user">
      <ng-container *ngIf="states$ | async as states">
        <div class="profile-icon">
          <ion-icon slot="only-icon" name="person"></ion-icon>
        </div>
        <p>{{ states.user.name }}</p>
        <p>{{ states.user.email }}</p>
        <p>{{ states.user.tel }}</p>
      </ng-container>
    </div>

    <ion-list class="menu-list">
      <ion-item class="menu-item">
        <ion-icon color="light" name="home"></ion-icon>
        <ion-button
          expand="block"
          routerDirection="back"
          routerLink="/home"
          fill="clear"
          color="light"
          size="medium"
        >
          home
        </ion-button>
      </ion-item>

      <ion-item class="menu-item">
        <ion-icon color="light" name="grid-outline"></ion-icon>
        <ion-button
          expand="block"
          fill="clear"
          color="light"
          size="medium"
          routerDirection="back"
          routerLink="/dashboard/main"
        >
          DASHBOARD
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-header class="header">
  <ion-toolbar class="ion-toolbar">
    <ion-buttons>
      <div class="container-buttons">
        <ion-button (click)="sync()" shape="round" slot="end">
          <mat-icon svgIcon="sync_white"></mat-icon>
        </ion-button>
        <ng-container *ngIf="states$ | async as states">
          <ng-container *ngIf="states.notification.length > 0; else noNotify">
            <ion-button (click)="notify($event)" shape="round" slot="end">
              <mat-icon svgIcon="notifications_white"></mat-icon>
              <ion-badge color="danger"
                >{{states.notification.length}}</ion-badge
              >
            </ion-button>
          </ng-container>
          <ng-template #noNotify>
            <ion-button (click)="notify($event)" shape="round" slot="end">
              <mat-icon svgIcon="notifications_none_white"></mat-icon>
            </ion-button>
          </ng-template>
        </ng-container>
        <ion-button [matMenuTriggerFor]="menu" shape="round" slot="end">
          <mat-icon svgIcon="add_white"></mat-icon>
        </ion-button>
        <ion-button (click)="profile()" shape="round" slot="end">
          <mat-icon svgIcon="person_outline_white"></mat-icon>
        </ion-button>

        <mat-menu #menu="matMenu" overlapTrigger="true">
          <button (click)="add('incoming')" disableRipple="true" mat-menu-item>
            <mat-icon svgIcon="add"></mat-icon>
            <span>ENTRADA</span>
          </button>

          <button (click)="add('outcoming')" disableRipple="true" mat-menu-item>
            <mat-icon svgIcon="add"></mat-icon>
            <span>SAÍDA</span>
          </button>
        </mat-menu>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="main">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="extracts">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Extratos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
