.header {
  z-index: 0;
}
.ion-toolbar ion-buttons {
  justify-content: flex-end;
}
.menu-item-close,
.ion-toolbar,
.menu-content,
.menu-list,
.menu-item,
.menu-item ion-button {
  --background: var(--green-microsoft);
  --color: var(--white-one);
  --padding: 0;
  background: var(--green-microsoft);
  color: var(--white-one);
  padding: 0;
}
.menu-item ion-button {
  padding: 0;
}
.ion-toolbar {
  border: none;
}
.menu-item-close {
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;

  p {
    line-height: 5px;
  }

  .profile-icon {
    min-width: 48px;
    min-height: 48px;
    font-size: 48px;
  }
}
