<ion-menu side="start" type="overlay" contentId="main" class="menu">
  <div class="menu-item-close">
    <ion-menu-button></ion-menu-button>
  </div>
  <ion-content class="menu-content">
    <ion-list class="menu-list">
      <ion-item class="menu-item">
        <ion-icon color="light" name="home"></ion-icon>
        <ion-button
          expand="block"
          routerDirection="back"
          routerLink="/home"
          fill="clear"
          color="light"
          size="medium"
        >
          home
        </ion-button>
      </ion-item>

      <ion-item class="menu-item">
        <ion-icon color="light" name="grid-outline"></ion-icon>
        <ion-button
          expand="block"
          fill="clear"
          color="light"
          size="medium"
          routerDirection="back"
          routerLink="/dashboard"
        >
          DASHBOARD
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-header class="header">
  <ion-toolbar class="ion-toolbar">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <div class="container-buttons">
        <ion-button (click)="sync($event)" shape="round" slot="end">
          <ion-icon shape="round" name="sync-outline"></ion-icon>
        </ion-button>
        <ng-container *ngIf="notifications$ | async as notifications">
          <ng-container *ngIf="notifications.length > 0; else noNotify">
            <ion-button (click)="notify($event)" shape="round" slot="end">
              <ion-icon name="notifications"></ion-icon>
              <ion-badge color="danger">{{notifications.length}}</ion-badge>
            </ion-button>
          </ng-container>
          <ng-template #noNotify>
            <ion-button (click)="notify($event)" shape="round" slot="end">
              <ion-icon name="notifications-outline"></ion-icon>
            </ion-button>
          </ng-template>
        </ng-container>
        <ion-button (click)="add($event)" shape="round" slot="end">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="profile($event)" shape="round" slot="end">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
