.card-empty {
  margin-top: 16px;
  margin-bottom: 16px;
  .no-registers {
    text-transform: uppercase;
    color: var(--white-one);
    margin-top: 16px;
    margin-bottom: 16px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      width: 320px;
      background-color: var(--text-middle-orange);
      padding: 8px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
    }
    .container div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .container p {
      margin-left: 8px;
    }
  }
}
